doctype html
html(ng-app="todoListApp")
	head
		- var page_name = "Temp"
		include ./includes/head.jade

	body
		include ./includes/header.jade
		//test code delete this
		hr
		//- .wrapper(ng-controller="RepeatCtrl")
		//- 	.col-sm-6.container(dragula='"another-bag"', dragula-model='many')
		//- 		div(ng-repeat='text in many', ng-bind='text')
		//- 			p {{text.title}}
		//- 	.col-sm-6.container(dragula='"another-bag"', dragula-model='many2')
		//- 		div(ng-repeat='text in many2', ng-bind='text')
		//- 			p {{text.title}}
		hr

		main
			br
			br
			br
			h3 Sign up
			br
			form.authentication(name="signUpForm", ng-submit="authentication()" ng-controller="authController", novalidate)
				fieldset
					label enter your email
					br
					input(type="text", placeholder="example@gmail.com" required).authentication__input.authentication__input--email
					//- label(ng-init="myForm.lastName.$error = {}", ng-show="signUpForm.nameEmail.$error.required") Required!
					br
					br
				fieldset
					label enter your password
					br
					input(type="password", placeholder="******", required).authentication__input.authentication__input--password
					br
					br
					input(type="submit", value="submit")
			br
			hr
			h3 Sign in
			form.sign-in(name="signInForm", ng-submit="signIn()" ng-controller="authController", novalidate)
				fieldset
					label enter your email
					br
					input(type="text", placeholder="example@gmail.com" required).sign-in__input.sign-in__input--email
					br
					br
				fieldset
					label enter your password
					br
					input(type="password", placeholder="******", required).sign-in__input.sign-in__input--password
					br
					br
					input(type="submit", value="submit")
			br
			br
			br
			//padding
			.padding
				img(src="images/components/padding/series_1.jpg", alt="")
				img(src="images/components/padding/series_4.jpg", alt="")
				img(src="images/components/padding/series_3.jpg", alt="")

			.dialog(ng-controller="dialogController as dialogCtrl")
				img(src="", alt="").dialog__media
				h2.dialog__title.inline-block(ng-hide="editTitle", ng-click="editTitle = true") {{dialogCtrl.title}}
				input.dialog__input(ng-blur="editTitle = false",ng-model="dialogCtrl.title", ng-show="editTitle")
				span.dialog__own in list #1
				p.dialog__decription(ng-hide="editDescription", ng-click="editDescription = true") {{dialogCtrl.description}}
				.dialog__input-wrap
					input.dialog__input(ng-blur="editDescription = false",ng-model="dialogCtrl.description", ng-show="editDescription")
				.row
					.dialog__content.col-sm-8
						h3.title-secondary attachment
						h3.title-secondary checklist
						h3.title-secondary add comment
						div(ng-controller="reviewController as reviewCtrl")
							form(name="reviewForm", ng-submit="reviewForm.$valid && addReview(message)", novalidate).commentary
								textarea(placeholder="write your comment", ng-model="message" required).commentary__textarea
								input(type="submit").commentary__submit
							.preview {{reviewCtrl.review.name}}
							span snap is here {{testText}}
							.commentaries(ng-repeat="comment in comments")
								blockquote.comment
									.comment__name {{comment.name}}
									span.comment__text {{comment.description}}
									button(ng-click="comments.$remove(comment)") x

						h3.title-secondary activity

					sidebar.sidebar-functions.col-sm-4
						h3.title-secondary add
						ul.functions
							li.functions__item 
								a(href="#") members
							li.functions__item 
								a(href="#") labels
							li.functions__item 
								a(href="#") checklist
							li.functions__item 
								a(href="#") due date
							li.functions__item 
								a(href="#") attachment
						h3.title-secondary actions
						ul.functions
							li.functions__item 
								a(href="#") move
							li.functions__item 
								a(href="#") copy
							li.functions__item 
								a(href="#") subscribe
							li.functions__item 
								a(href="#") archive
					.clearfix
					.col-sm-12
						hr
						hr
						.popup-secondary.popup-checklist
							h3.title-secondary add checklist
							.functionality-wrapper
								button.btn.btn-test my button
								.hidden-block text from hidden block
							form.form-checkbox
								p.title-secondary name
								input(type="text" placeholder="checklist").input
								input(type="submit" value="add").form-checkbox__submit.btn-primary
						.checklist
							.checklist__icon (checklist-icon)
							.title-secondary
							.checklist-btn__wrapper
								span.checklist__btn hide marked
								span.checklist__btn delete
							span.checklist__progress-percent 50
							span.checklist__sign %
							.checklist__progress-bar-wrap
								.checklist__progress-bar
							form.checklist-form(ng-controller="checklistController")
								div(ng-repeat="checklistItem in checklist")
									fieldset
										input(ng-click="estimateFunc()" type="checkbox").checklist-form__checkbox
										label(for="")
										label.checklist-form__name {{checklistItem.text}}
								div
									button.checklist-form__btn(ng-hide="additem" ng-click="additem = 'true';") add element
									input(type="text", ng-show="additem", placeholder="add element").checklist-form__input
									button(ng-show="additem", ng-click="addItem()") save
						hr
						hr
						div
							|Date:
							input.js-datepicker(type="text")
							input.js-timepicker(type="text" placeholder="12:00")
						.due-date
							span.due-date__weekday monday
							span &nbsp;
							span.due-date__day 2
							span &nbsp;
							span.due-date__month may
							span &nbsp;
							span.due-date__year 2016
							span &nbsp;
							span at
							span &nbsp;
							span.due-date__time 11:00
							span &nbsp;
							span.due-date__status expired
							span &nbsp;






			section.section-boards
				.container
					.item
						i.item__icon
						span.item__text Elect
					.item
						i.item__icon
						span.item__text My
					.row
						.col-sm-3.board
							.board__title You are welcome on the board
						.col-sm-3.board
							.board__title Create new board...
			hr
			hr
			section.section-boards(ng-controller="boardController")
				.magic-btn magic button
				.container
					.row
						.board-header
							h2.title-secondary.inline-block(ng-click="editingHeading = true", ng-hide="editingHeading") {{heading}}
							input(ng-show="editingHeading", ng-blur="editingHeading = false" ng-model="heading")
							a(href="").btn-elect elect btn
							a(href="").btn-private private btn
							.menu ... Menu
				.lists-wrap
					.lists(dragula='"list-bag"')
						.list(ng-repeat="list in lists")
							span.handle ((+))
							p.list__title(ng-click="editing = true", ng-hide="editing", ) {{list.title}}
							input(ng-show="editing", ng-blur="editing = false" ng-model="list.title")
							a(href="").btn-actions ...
							.cards
								.cards-inner-wrap(dragula='"card-bag"', dragula-scope="$parent.$parent", dragula-model="cards")
									.card(ng-repeat="card in list.cards")
										img(src="", alt="image").card__media
										p.card__title {{card.title}}
										.card__badges
											.attachment
												i.attachment__icon attach
												span.attachment__amount 1
											.comments
												i.comments__icon comment
												span.comments__amount 1
											.checkbox-block
												i.checkbox-block__icon checkbox
												span.checkbox-block__checkpoints 0/3
											.date
												i.date__icon date
												span.date__day 19/
												span.date__month 02/
												span.date__year 2016
												span.date__expiration
											.icon-description descr
											.members
												.members__person img
								a(href="" ng-click="addCard(list)").add-card add card...
					.add-list
						a(href="", ng-click="addList()").add-list__elem add list
			hr
			hr



		include ./includes/footer.jade


		//- tooltips
		//- br
		//- br
		//- br
		//- br
		//- br
		//- .bs-example.tooltip-demo
		//- 	.bs-example-tooltips
		//- 		button.btn.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='top', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-original-title='', title='') Popover on top
		//- 		br
		//- 		br
		//- 		br
		//- 		br
		//- 		br
		//- 		button.btn.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-original-title='', title='') Popover on bottom
		//- 		br
		//- 		br
		//- 		br
		//- 		br
		//- 		br
		//- 		button.btn.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-original-title='', title='') Popover on right
		//- 		br

		//- 		br
		//- 		br
		//- 		hr


		input#date-input(type='text', data-type='date')
		#material-header-holder(style='display:none')
			.ui-datepicker-material-header
				.ui-datepicker-material-day
				.ui-datepicker-material-date
					.ui-datepicker-material-month
					.ui-datepicker-material-day-num
					.ui-datepicker-material-year

		//padding
		.padding
			img(src="images/components/padding/series_1.jpg", alt="")
			img(src="images/components/padding/series_4.jpg", alt="")
			img(src="images/components/padding/series_3.jpg", alt="")