doctype html
html
	head
		- var page_name = "Page elements"
		include ./includes/head.jade

	body
		include ./includes/header.jade

		main
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quaerat iste, architecto ullam tenetur quia, nemo ratione tempora consectetur, quos minus. Alias libero explicabo, quia, voluptates reiciendis sint ut quo!
		include ./includes/footer.jade