.button-boards{
	display: inline-block;
	border: 1px solid #000;
}
.search{
	display: inline-block;
	border: 1px solid #000;
}
.logo-wrap{
	display: inline-block;
	border: 1px solid #000;
}
.btn-create{
	display: inline-block;
	border: 1px solid #000;
}
.member{
	display: inline-block;
	border: 1px solid #000;
}
.button-info{
	display: inline-block;
	border: 1px solid #000;
}
.btn-notice{
	display: inline-block;
	border: 1px solid #000;
}