.inline-block{
	display: inline-block;
}
.title-secondary{

}
.menu{
	float: right;
}
.add-list{
	width: 275px;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid #000;
	vertical-align: top;
	display: inline-block;
}
.btn-actions{
	border: 1px solid #000;
	padding: 0 5px;
	float: right;
}
.attachment{
	display: inline-block;
	border: 1px solid #000;
}
.comments{
	display: inline-block;
	border: 1px solid #000;
}
.checkbox-block{
	display: inline-block;
	border: 1px solid #000;
}
.date{
	display: inline-block;
	border: 1px solid #000;
}
.icon-description{
	display: inline-block;
	border: 1px solid #000;
}
.members{
	display: inline-block;
	border: 1px solid #000;
}