.board{
	border: 1px solid #000;
	height: 100px;
	border-radius: 3px;
}
.lists-wrap{
	overflow-x: auto;
	white-space: nowrap;
}
.lists{
	display: inline-block;
}
.list{
	white-space: normal;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	padding:10px 10px;
	width: 275px;
	border: 1px solid #000;
	&__title{
		display: inline-block;;
	}
}
.card{
	margin-bottom: 20px;
	padding: 6px;
	border: 3px solid grey;
	width: 100%;
	&__media{
		display: block;
		width: 100%;
		text-align: center;
		border: 1px solid #000;
	}
	&__title{
	
	}
	&:hover{
		background-color: darken(#fff, 5);
		cursor: pointer;
	}
}
.popover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background-clip: padding-box;
}
.popover .arrow {
    border-width: 11px;
}
.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover.bottom .arrow:after {
	top: 1px;
	margin-left: -10px;
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
}
.popover.right .arrow:after {
	bottom: -10px;
	left: 1px;
	border-right-color: #fff;
	border-left-width: 0;
	content: " ";
}
.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    border-bottom-width: 0;
}
.popover.top .arrow:after {
	bottom: 1px;
	margin-left: -10px;
	border-top-color: #fff;
	border-bottom-width: 0;
	content: " ";
}

.hidden-block{
	display: none;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}
.hidden-block--active{
	display: block;
}

.dialog{
	border: 1px solid #000;
	max-width:700px;
	margin:auto;
}

.btn-elect{
	border: 1px solid #000;
	margin: 5px;
}
.btn-private{
	margin: 5px;
	border: 1px solid #000;
}

.commentary{
	&__textarea{
		width: 100%;
		display: block;
	}
}
.popup-secondary{
	max-width: 300px;
	border: 1px solid #000;
}
.checklist{
	&__progress-bar-wrap{
		height: 7px;
		border-radius: 5px;
		background-color: #D6DADC;
		position: relative;
		transition: all 0.45s ease-out;
	}
	&__progress-bar{
		content: "";
		transition: all 1s ease-out;
		position: absolute;
		left:0;
		right:50%;
		height: 7px;
		background-color: #5BA4CF;
		border-radius: 5px  0 0 5px;
		&.accomplished{
			background-color: green;
		}
	}

}
.checklist-form{
	&__name{}
}

.functionality-wrapper{
	position: relative;
}
.hidden-block{
	position: absolute;
	top:0;
	background-color: white;
}