.board{
	border: 1px solid #000;
	height: 100px;
	border-radius: 3px;
}
.lists{
	overflow-x: scroll;
}
.list{
	display: inline-block;
	vertical-align: top;
	width: 275px;
	padding: 10px;
	border: 1px solid #000;
	&__title{
		display: inline-block;;
	}
}
.card{
	margin-bottom: 20px;
	padding: 6px;
	border: 3px solid grey;
	width: 100%;
	&__media{
		display: block;
		width: 100%;
		text-align: center;
		border: 1px solid #000;
	}
	&__title{
	
	}
	&:hover{
		background-color: darken(#fff, 5);
		cursor: pointer;
	}
}
.dialog{
	border: 1px solid #000;
	max-width:700px;
	margin:auto;
}

.btn-elect{
	border: 1px solid #000;
	margin: 5px;
}
.btn-private{
	margin: 5px;
	border: 1px solid #000;
}

.commentary{
	&__textarea{
		width: 100%;
		display: block;
	}
}
.popup-secondary{
	max-width: 300px;
	border: 1px solid #000;
}
.checklist{
	&__progress-bar-wrap{
		height: 7px;
		border-radius: 5px;
		background-color: #D6DADC;
		position: relative;
		transition: all 0.45s ease-out;
	}
	&__progress-bar{
		content: "";
		transition: all 1s ease-out;
		position: absolute;
		left:0;
		right:50%;
		height: 7px;
		background-color: #5BA4CF;
		border-radius: 5px  0 0 5px;
		&--accomplished{
			background-color: green;
		}
	}

}
.checklist-form{
	&__name{}
}





//dragula
.dragula{



	h1 {
		color: black;
	}

	a {
		color: black;
	}


	.container div {
		border: 2px solid black;
		border-radius: 5px;
		margin: 10px;
		padding: 10px;
		color: black;
		cursor: move;
	}
}

.wrapper{
	display: table;
	border: 1px solid #000;
	div{
		border: 1px solid #000;
	}
}


