// Footer block
footer.footer
	

// *** Scripts ***
// jQuery 1.10.1
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
//jquery ui
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js")
// Bootstrap
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
// Angular.js
script(src="external/angular.js/angular.min.js")
// application
script(src="js/application.js")
// service 
script(src="js/data.js")