// Footer block
footer.footer
	

// *** Scripts ***
// jQuery 1.10.1
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
// jquery ui
script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
// Angular.js
script(src="external/angular.js/angular.min.js")
//firebase js
script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
//AngularFire
script(src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js")
// dragula.js
script(src="external/dragula-angular/angular-dragula-master/dist/angular-dragula.min.js")
// Bootstrap
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
//maskedinput
script(src="external/maskedinput.min.js/maskedinput.min.js")
// application
script(src="js/application.js")
// service 
script(src="js/data.js")