//Header block
header.header
	.container
		.button-boards boards
		form.search
			input(type="text").search__input
			input(type="submit" value="search").search__submit
		.logo-wrap
			.logo Logo
		.btn-create (+)
		.member Name Surname
		.button-info (I)
		.btn-notice notice

